.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.stat-item {
  width: 100%;
  margin-bottom: 20px;
}

.stat-item h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.activity-log {
  width: 100%;
  margin-top: 20px;
}

.activity-log table {
  width: 100%;
  background-color: transparent;
  border-collapse: collapse;
}

.activity-log th,
.activity-log td {
  padding: 15px;
  text-align: left;
}

.activity-log th {
  background-color: #e23744;
  color: white;
  font-weight: bold;
}

.home-link {
  font-weight: bold;
  color: #e23744;
  text-decoration: none;
  margin-top: 20px;
}

.home-link:hover {
  text-decoration: underline;
}
